
<h2 class="text-center">Países</h2>

<hr>

<ul class="list-group">

  <!-- DESCOMENTAR LAS TRES LINEAS DE ARRIBA PARA DEJAR IGUAL -->

  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>

  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Contact Page
  </li> -->

  <!-- A PARTIR DE AQUÍ ABAJO, HAY QUE QUITAR LOS COMENTARIOS PARA DEJARLO IGUAL -->

  <li routerLink="countries/by-capital"
  routerLinkActive="active"
  class="list-group-item">
   Por capital
  </li>

  <li routerLink="countries/by-country"
  routerLinkActive="active"
  class="list-group-item">
   Por país
  </li>

  <li routerLink="countries/by-region"
  routerLinkActive="active"
  class="list-group-item">
   Por region
  </li>

</ul>

<!-- <ul class="list-group">

  <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
    <ul class="nav flex-column">
      <li routerLink="countries/by-capital" routerLinkActive="active" class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#house-fill"/></svg>
          Por Capital
        </a>
      </li>
      <li routerLink="countries/by-country" routerLinkActive="active" class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#file-earmark"/></svg>
          Por País
        </a>
      </li>
      <li routerLink="countries/by-region" routerLinkActive="active" class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2" href="#">
          <svg class="bi"><use xlink:href="#cart"/></svg>
          Por Región
        </a>
      </li>
    </ul>

  </div>

</ul> -->

