<h1>Por País</h1>

<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por País"></shared-search-box>
    <!-- si quiero utilizar el shared-search-box, necesito importar ese modulo, y se importará en el COUNTRIES-MODULE, y qué modulo se va a importar??
    el SharedModule -->
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

