<!-- mt=margin top de cuatro para que quede separado arriba-->

<div class="row mt-4">

    <div class="col-3">

        <!-- Sidebar -->
        <shared-sidebar></shared-sidebar>

    </div>

    <div class="col text-center">
       <!-- para que tome el espacio restante -->
        <!-- Nuestras páginas -->
        <!-- Este es el nombre del selector en el archivo .component.ts -->
        <!-- <shared-home-page></shared-home-page> -->
        <!-- <shared-about-page></shared-about-page>-->

        <!-- En lugar de mostrar los componentes home y about page en duro, vamos a utilizar un componente de
        angular router-->

        <router-outlet></router-outlet>

        <!-- dependiendo del url y de la ruta que te encuentres, renderiza aquí ese componente -->

    </div>

</div>


